# Archivos compilados de C#
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.nupkg
*.xml

# Directorios de construcción
bin/
obj/
TestResults/
App_Data/
wwwroot/lib/  # Si usas LibMan/Bower/NPM, comenta si gestionas las librerías manualmente

# Archivos de Visual Studio 2022
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user
*.vbproj.user
*.DotSettings.user

# Archivos de proyecto y solución
*.csproj.vspscc
*.vbproj.vspscc
*.vssscc
*.sln.vspscc
*.pidb
*.dbmdl

# IntelliSense y caché
*.VC.db
*.sqlite
*.ide/
ipch/

# NuGet
packages/
.nuget/
NuGet.exe
NuGet.Config
packages.lock.json

# Azure Functions
local.settings.json

# Publicación y despliegue
Publish/
*.pubxml
*.publishproj

# Archivos temporales
*.tmp
*.log
*.tlog
*.bak
*.swp
*.swo

# Herramientas de desarrollo
_ReSharper*/
*.resharper
*.sass-cache/

# Docker
.dockerignore
**/.docker/*
**/Dockerfile.local